.border-gray{
    border: 0.5px solid !important;
    border-color:#5e5e5e !important
}
.two-columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.three-columns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh !important;
    gap: 15px
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-yellow{
    background-color: #EFB239;
}
.bg-orange{
    background-color: #B36618;
}
.bg-bob{
    background-color: #B36618;
}
.hover-black-text :hover{
    color: #000000 !important;
  }